{% extends('base2(back).html.twig') %}
{% block body %}
    <body data-spy="scroll" data-target=".navbar">
    <div class="page-preloader"></div>

    <main class="one-page">
        <div class="pr-section pr-selected">

            <header class="banner banner-img" id="home">
                <div class="container pr-title">
                    Write your code Here ...

                    <body>
                    <h1>Recherche article par titre </h1>
                    Rechercher: <input type="text" id="recherche">
                    <h2> Liste des titre </h2>
                    <div class="tableau">
                        <table class="table" >
                            <tr>
                                <td>titre</td>
                                <td>contenu</td>




                            </tr>
                            {%  for article in articles %}
                            <tr>
                                <td>{{ article.titre }}</td>
                                <td>{{ article.text }}</td>


                                {% endfor %}
                        </table>


                    </div>

                </div>
    </main>

    <div class="pr-overlay"></div>

    <a class="back-to-top"></a>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script >
    $(function () {
        $("#recherche").keyup(function () {
            $.ajax({
                url : "{{ path('recherche') }}",
                data : { 'article' : $(this).val() }
            }).done(function (response) {
                var tableau = $(response).find("table");
                $('.tableau').empty();
                $('.tableau').append(tableau);
            });
        });
    })
</script>
{% endblock %}
